
@{
    ViewData["Title"] = "Payment Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your donation has been received</h1>
<p>You will receive a confirmation email from Secret Santa.</p>
<p>Thank you for taking the time out of your busy life to help make someone's Holiday Wish come true!</p>

