@{
    ViewBag.Title = "Contact Us";
}
<h1>Contact Us</h1>
<section>
    <div class="h5">
        Please contact the Center for Volunteer & Nonprofit Leadership if you wish to volunteer for Secret Santa or if you have any other questions. Ask to speak to the "Secret Santa Coordinator".
    </div>
    <div class="spacer-small"></div>
    <div>
        Call the CVNL at
        <a href="tel:7075733399">707-890-8880</a>
    </div>
    <div>
        <a href="mailto:@ViewBag.EmailTo">Email @ViewBag.EmailTo</a>
    </div>
    <div>
        <a href="@ViewBag.VolunteerCenter" target="_blank">CVNL Web Site</a>
    </div>
    <div class="spacer-small"></div>
    <div>
        Visit us at:
        <address>
            153 Stony Circle, Suite 100<br />
            Santa Rosa, CA 95401
        </address>
    </div>
</section>

