@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Complete Registration";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
	<div class="col-md-8">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<input asp-for="Input.Code" type="hidden" />
			<div class="form-floating mb-3">
				<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<label asp-for="Input.Email" class="form-label"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.ConfirmEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<label asp-for="Input.ConfirmEmail" class="form-label"></label>
				<span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.FirstName" class="form-control" />
				<label asp-for="Input.FirstName"></label>
				<span asp-validation-for="Input.FirstName" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.LastName" class="form-control" />
				<label asp-for="Input.LastName"></label>
				<span asp-validation-for="Input.LastName" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Phone" class="form-control phone" />
				<label asp-for="Input.Phone" class="col-md-2"></label>
				<span asp-validation-for="Input.Phone" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.AltPhone" class="form-control phone" />
				<label asp-for="Input.AltPhone"></label>
				<span asp-validation-for="Input.AltPhone" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Fax" class="form-control phone" />
				<label asp-for="Input.Fax"></label>
				<span asp-validation-for="Input.Fax" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.EstimateWishes" class="form-control" />
				<label asp-for="Input.EstimateWishes"></label>
				<span asp-validation-for="Input.EstimateWishes" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Password" class="form-control" />
				<label asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Please enter your password."></label>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<label asp-for="Input.ConfirmPassword" autocomplete="confirm-password" aria-required="true" placeholder="Please confirm your password."></label>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<environment names="Development">
		<script src="~/js/site.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/site.min.js"></script>
	</environment>
	<script src="~/jquery-mask-plugin/inputmask.min.js"></script>
	<script>
		$("#Input_EstimateWishes").mask({ regex: "\\d*" });
	</script>
}
