
@{
    ViewData["Title"] = "Payment Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your donation has been received</h1>
<p>You will receive a confirmation email from Secret Santa.</p>
<p>Have a great holiday season and thank you again for making someone’s holiday better!</p>

