@{
    ViewBag.Title = "Error";
}

<h1>Error.</h1>
<h2>An error occurred while processing your request. Please <a href="@Url.Action("Contact", "LearnMore")" target="_blank">Contact</a> Secret Santa.</h2>

